<h1> Welcome to Rock, Paper, Scissors</h1>
<p> To play, enter an address in the address bar</p>
<p> Type play/move1/move2 after 4567 and subsitute move1 or move 2 with either rock, paper or scissors</p>
